.todo_wrapper
  font-size 10px
  border: black solid 2px;
  width: 30%;
  margin-left: 35%;
.todo_item
  height 20px
.todo_item:hover
  background-color darkkhaki
.todo_title
  font-size 25px
.todo_body
  height 400px
  overflow-y scroll
